body {
  background: gainsboro;
  width: 100%;
}

.App {
  max-width: 1200px;
  margin: 0 auto;
  background: white;
  position: relative;
}

.header-separator {
  border: 1px solid gainsboro;
  visibility: hidden;
  margin-top: 116px;
}

@media (max-width: 576px) { 
  .header-separator {
    margin-top: 58px;
  }
}